
* {
    margin: 0px;
    padding: 0px;
}

.grid-container {
    margin: 0;
}

.rmit-logo {
    height: 3em;
    vertical-align: middle;
    float: left;
    margin-right: 1.5em;
    margin-left: 2em;
    margin-top: 0.9em;
}

.weka-logo {
    height: 3em;
    vertical-align: middle;
    float: left;
    margin-right: 3em;
    margin-top: 0.9em;
}

/*#text {*/
/*    position: fixed;*/
/*    font-family: Helvetica;*/
/*    color: black;*/
/*    !*margin-top: 3em;*!*/
/*    !*margin-left: 4em;*!*/
/*}*/

.video {
    overflow: hidden;
    height: 350px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.video-content h1 {
    position: fixed;
    font-family: Helvetica;
    color: white;
    margin-top: 3em;
    margin-left: 4em;
}

.file-upload {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container footer {
    grid-area: footer;
    background: rgb(55, 41, 185);
}

footer {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer li {
    display: inline-block;
    padding: 1em 0.5em;
    padding-left: 2em;
}

footer li a {
    text-decoration: none;
    font-family: Helvetica;
    text-align: left;
    color: white;
}

footer li a:hover {
    color: rgb(211, 211, 211)
}

nav {
    background: rgb(55, 41, 185);
    /* box-shadow: -1em; */
    margin-top: 0;
    text-align: left;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
}

nav li {
    display: inline-block;
    /*border: solid rgb(100, 0, 171);*/
    /* top & bottom, left & right paddings */
    padding: 0.5em 1em;
    /*background-color: rgb(237, 237, 237);*/
    /* top & bottom, left & right margins around elements */
    margin: 1.4em 1em;
    /* bottom and left shadows */
    /*box-shadow: grey -0.1em 0.1em;*/
    /*transition: 1 sec;*/
}

nav li a {
    text-decoration: none;
    color: white;
    font-family: Helvetica;
    /*text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;*/
}

nav li a:hover {
    color: rgb(211, 211, 211);
}

/*Below is the css for upload file button*/

/* From uiverse.io */
.uploadFile {
    --color: rgb(55, 41, 185);
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid rgb(55, 41, 185);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: rgb(55, 41, 185);
}

.uploadFile:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: rgb(55, 41, 185);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.uploadFile:hover {
    color: #fff;
}

.uploadFile:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.uploadFile:hover:before {
    top: -30px;
    left: -30px;
}

.uploadFile:active:before {
    background: rgb(55, 41, 185);
    transition: background 0s;
}




