
/*header img {*/
/*    height: 3em;*/
/*    !* aligns inline element with this one *!*/
/*    vertical-align: middle;*/
/*    !* img moved to the right of page *!*/
/*    float: left;*/
/*    margin-right: 2em;*/
/*    margin-left: 2em;*/
/*}*/

.rmit-logo {
    height: 3em;
    vertical-align: middle;
    float: left;
    margin-right: 1em;
    margin-left: 2em;
    margin-top: 0;
}

.weka-logo {
    height: 3em;
    vertical-align: middle;
    float: left;
    margin-right: 2em;
    margin-top: 0;
}

nav {
    background: aqua;
    margin-top: 0;
}

body {
    margin: 0;
}

nav li {
    display: inline-block;
    /*border: solid rgb(100, 0, 171);*/
    /* top & bottom, left & right paddings */
    padding: 0.5em 1em;
    /*background-color: rgb(237, 237, 237);*/
    /* top & bottom, left & right margins around elements */
    margin: 0.8em 1em;
    /* bottom and left shadows */
    /*box-shadow: grey -0.1em 0.1em;*/
    /*transition: 1 sec;*/
}

nav li a {
    text-decoration: none;
    color: black;
}