* {
    margin: 0px;
    padding: 0px;
}
#example1{
    /*background: #00bcd4;*/
    width: 800px;
    height: 280px;
}
#example2{
    /*background: #89ff00;*/
    width: 800px;
    height: 280px;
    /*clear: both;*/
}
#example1Img{
    margin-left: 10px;
    width: 450px;
    height: 240px;
}
#example2Img{
    margin-left: 10px;
    width: 450px;
    height: 230px;
}
#button{
    margin-left: 600px;
}
.uploadFile{
    text-align: center;
}